.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 0;
}
.header{
  background-color: #192a56;
  padding: 15px;
  color: white;
  width: 100%;
}
.main{
  margin: 2%;
}
.data{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.data_val{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 0px 9px 0px 9px;
  margin-bottom: 0.1%;
}